<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../images/MetaDropLogo.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <meta charset="UTF-8">
    <title>MetaDrop | Easy File Sharing from PC to Phone</title>
    <meta name="google-site-verification" content="_dQl59yQ61SqqhvnHcL8UnrODJubPe8zV_ADzSpcQ0Q" />
    <meta name="description" content="MetaDrop lets you easily share files from your PC to any device. Upload → Scan → Download. Files auto-delete in 15 minutes. No sign-ups required.">
    <meta name="keywords" content="file sharing, QR code download, PC to phone, fast upload, MetaDrop">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <h1>MetaDrop</h1>
    <p>Upload → Scan → Download</p>
    <input type="file" id="fileInput">
    <div class="progress">
        <div class="bar" id="progressBar"></div>
    </div>

    <div id="result"></div>
    <a href="https://www.paypal.com/paypalme/LeunexOfficial" 
        target="_blank" 
        class="donate-btn">
        ❤️ Support MetaDrop
    </a>
    <p class="hint">⚠️ File auto-deletes after 15 minutes</p>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


