<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/images/MetaDropLogoLarge.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <meta charset="UTF-8">
    
    <!-- SEO / Google -->
    <title>MetaDrop — Instantly Transfer Files from PC to Phone</title>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">

    <meta name="description" content="MetaDrop is a free web app that lets you instantly transfer files from your PC to your phone using QR codes. No sign-ups, fast, and secure.">
    <meta name="keywords" content="file transfer, PC to phone, QR code download, fast file sharing, MetaDrop">
    <meta name="author" content="MetaDrop / LeunexOfficial">
    <meta name="google-site-verification" content="_dQl59yQ61SqqhvnHcL8UnrODJubPe8zV_ADzSpcQ0Q" />

    <meta name="google-site-verification" content="X5k59foA8pNMH5eg78BkS1ymv681MmQEL2CMiRQ1hvw" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="card">
        <h1>MetaDrop</h1>
        <p>Upload → Scan → Download</p>
        <input type="file" id="fileInput">
        <div class="progress">
            <div class="bar" id="progressBar"></div>
        </div>
    
        <div id="result"></div>
        <a href="https://www.paypal.com/paypalme/LeunexOfficial" 
            target="_blank" 
            class="donate-btn">
            ❤️ Support MetaDrop
        </a>
        <p class="hint">⚠️ File auto-deletes after 15 minutes</p>
    
    </div>
    <section>
      <details>  
        <summary style="font-size:12px;color:#888;cursor:pointer;">
          About this tool
        </summary>
    
        <h2>Instant PC to Phone File Transfer</h2>
        <p>
          MetaDrop lets you upload files from your computer and instantly download them
          on your phone using a QR code. Files auto-delete in 15 minutes.
          No sign-ups required. Fast, secure, and free.
        </p>
      </details>
    </section>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>









